{% extends "base.html"%}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        The Avengers were a team of extraordinary individuals, with either superpowers or other special characteristics.
        Though primarily affiliated with the interests of the United States of America, the group's purpose was to protect
        global stability from inner or extraterrestrial threats. The Avengers were assembled by S.H.I.E.L.D. as a result of
        the Avengers Initiative, when Loki invaded Earth with his Chitauri army. The first iteration of the team, consisting
        of Iron Man, Captain America, Hulk, Thor, Black Widow and Hawkeye, defeated Loki in the Battle of New York to stop
        the Chitauri Invasion.
    </p>

    {% for member in hero_list %}
        
        <div class="row featurette">
            {% if loop.index % 2 != 0 %}
                <div class="col-md-7">
                    <h3>{{ loop.index }} {{ member.name }}</h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image image-responsive" src="{{ member.image_source }}" alt="{{ member.name }} image">
                </div>
            {% else %}
                <div class="col-md-5">
                    <img class="featurette-image image-responsive" src="{{ member.image_source }}" alt="{{ member.name }} image">
                </div>
                <div class="col-md-7">
                    <h3>{{ loop.index }} {{ member.name }}</h3>
                    <p>{{ member.description }}</p>
                </div>
            {% endif %}
        </div>
        {% if not loop.last  %}
            <hr class="featurette-divider">
        {% endif %}
    {% endfor %}
{% endblock %}